
.container-inner {
    width: 80%;
    max-width: 120rem;
    margin: 50px auto;
    display: grid;
    grid-template-rows: 200px 200px 200px 200px 200px;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 60px;
    column-gap: 25px;
  }
  
  .container__main {
    background: #566375;
    position: absolute;
    height: 60px;
    width: 100%;
    bottom: 0px;
    z-index: 2;
    display: none;
  }
  
  .item:hover .container__main {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .container__btn {
    background: red;
    padding: 5px 10px;
    border-radius: 20px;
  }
  .productname {
    position: absolute;
    top: 210px;
    color: #222222;
  }
  .container__btn a {
    text-decoration: none;
    color: #fff;
  }
  .container__adjust {
    display: flex;
    justify-content: space-between;
    color: #fff;
  }
  
  .container__adjust .fa {
    border: none;
    cursor: pointer;
    background: #222222;
    outline: none;
    padding: 5px 10px;
    color: #fff;
  }
  .item {
    position: relative;
    box-shadow: rgb(201, 201, 201) 1px 2px 5px 1px;
  }
  
  .item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .content {
    display: none;
    position: absolute;
    bottom: 0;
    height: 70px;
  }
  